@import "../../../node_modules/bootstrap/scss/functions";
@import "./utils/variables";
@import "../../../node_modules/bootstrap";

@import "./base/base";
@import "./utils/utilities";

//元件
// @import "./layout/header.scss";
// @import "./layout/footer.scss";

//頁面
@import "./pages/index.scss";
@import "./pages/product.scss";
