@import "../../../node_modules/bootstrap/scss/functions";
@import "./utils/variables";
@import "../../../node_modules/bootstrap";

@import "./base/base";
@import "./utils/utilities";

//Layout
// @import "./layout/header.scss";
// @import "./layout/footer.scss";

//Component
@import "./components/title.scss";

//頁面
@import "./pages/index.scss";
@import "./pages/article";
@import "./pages/articles";
@import "./pages/product.scss";
