@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");

body {
  letter-spacing: 0.04rem;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.radius-top-right {
  border-top-right-radius: 24px;
}
.rtl-8 {
  border-top-left-radius: 8px;
}
.rbl-8 {
  border-bottom-left-radius: 8px;
}
.rtr-8 {
  border-top-right-radius: 8px;
}
.rbr-8 {
  border-bottom-right-radius: 8px;
}
