$utilities: map-merge(
  $utilities,
  (
    "opacity": (
      property: opacity,
      values: (
        0: 0,
        25: 0.25,
        50: 0.5,
        75: 0.75,
        80: 0.8,
        100: 1,
      ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";
